#sidebar{
    height: 40%;
    width: 20%;
    background-color: black;
    font-family: sans-serif;
    float: left;

}
#Data{
    width: 100%;
    background-color: gray;
    font-family: sans-serif;
  }
 ul {
        list-style-type: none;
        margin: 0;
        padding: 35;
        width: 200px;
        background-color: black;

    }

li a {
        display: block;
        color: white;
        padding: 18px 16px;
        text-decoration: none;
    }

    /* Change the link color on hover */
li a:hover {
        background-color: white;
        color: black;
    }

#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
